{#
/**
 * @file
 * Template for about-mission component.
 */
#}

<section class="py-5 bg-light border-top border-4 border-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        {% if title %}
          <h2 class="mb-4">{{ title }}</h2>
        {% endif %}

        <div class="bg-white p-4 border border-2">
          {% if body %}
            {{ body }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>