{#
/**
* @file
* Custom template for Core Page nodes.
*
* Preproess is run in in theme functions, variables created from core page node
*/
#}

{# HHERO #}



{# Main Content #}
<div class="container">
    {{ content.body }}
</div>