.marquee {
  display: flex;
  width: max-content;
  animation: marquee-scroll 25s linear infinite;
}

.marquee span {
  white-space: nowrap;
}

/* smooth infinite scroll */
@keyframes marquee-scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}