.teacher-card__image {
  overflow: hidden;
  position: relative;
  aspect-ratio: 1/1;
}

.teacher-card__image a {
  display: block;
  width: 100%;
  height: 100%;
}

.teacher-card__image img {
  display: block;
  width: 100%;
  height: 100% !important;
  object-fit: cover;
  object-position: center top;
}